/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos gerais */
  body {
    background-color: #0f0f19;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #1a1a26;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ff6ec7;
  }
  
  /* Estilos da seção de herói */
  #hero {
    background-image: linear-gradient(to bottom, #f72585, #7209b7);
    padding: 80px 20px;
    text-align: center;
  }
  
  #hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  #hero h2 {
    font-size: 24px;
  }
  
  /* Estilos da seção Sobre Mim */
  #about {
    padding: 80px 20px;
  }
  
  #about h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  /* Estilos da seção Portfólio */
  #portfolio {
    background-color: #1a1a26;
    padding: 80px 20px;
  }
  
  #portfolio h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .portfolio-item {
    margin-bottom: 40px;
  }
  
  .portfolio-item img {
    width: 100%;
    height: auto;
  }
  
  .portfolio-item h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .portfolio-item p {
    color: #ffffff;
  }
  
  /* Estilos da seção Contato */
  #contact {
    padding: 80px 20px;
  }
  
  #contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #1a1a26;
    color: #ffffff;
    border: none;
  }
  
  form input[type="submit"] {
    background-color: #ff6ec7;
    color: #ffffff;
    cursor: pointer;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #1a1a26;
    padding: 20px;
    text-align: center;
    color: #ffffff;
  }
  